body {
  background-image: linear-gradient(-90deg, #181818, black);
  box-sizing: border-box;
  margin: 0;
}

div {
  box-sizing: border-box;
  margin: 0;
}

p,
li,
h1,
h2,
h3 {
  color: white;
  font-family: "Roboto Mono", monospace;
  line-height: 30px;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  margin: auto;
  align-items: stretch;
  height: 10vh;
  z-index: 1;
  width: 100%;
}

.header-text {
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: center;
  font-size: 20px;
}

.header-text-title {
  flex: 3;
  background-color: #181818;
  font-weight: 400;
}

.header-text-title h1 {
  margin-left: 30px;
}

.header-text-contact {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #232323;
  text-decoration: none;
}

.content {
  display: flex;
  margin: auto;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.line {
  display: flex;
  justify-content: space-evenly;
}

.line-border {
  border-right: red 5px dashed;
}

.gradient-for-line {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 5px;
  height: 100%;
  background-image: linear-gradient(
    to top,
    black,
    black,
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 0),
    black,
    black
  );
}

h3 {
  font-size: 30px;
  line-height: 40px;
}

.text-image {
  display: flex;
  justify-content: start;
}

.portrait-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.portrait-img img {
  height: 300px;
}

.introduction {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}

.different-mediums-img img {
  height: 300px;
  margin: auto;
}

.different-mediums-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.development-for-multible-mediums {
  margin: auto;
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.languages-and-frameworks-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.languages-and-frameworks-img img {
  height: 300px;
}

.languages-and-frameworks {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

footer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #232323;
  z-index: 2;
}

/* for tablets */

@media screen and (max-width: 820px) {
  .languages-and-frameworks-img img {
    object-fit: contain;
    width: 200px;
    position: relative;
  }

  .header-text h1,
  .header-text h2 {
    font-size: 30px;
  }

  .contact {
    margin-top: 0px;
    margin: 20px;
  }

  h3 {
    font-size: 34px;
  }

  p,
  li {
    font-size: 25px;
    line-height: 1.7;
  }

  .different-mediums-img img {
    object-fit: contain;
    width: 275px;
    border-radius: 10px;
    margin: auto;
  }

  .languages-and-frameworks {
    width: 500px;
  }

  .image-container {
    margin: auto;
  }

  .width-mobile {
    margin: auto;
  }

  .portrait-img img {
    object-fit: cover;
    width: 300px;
    height: 700px;
    border-radius: 15px;
    margin-left: 20px;
  }

  .header-text-contact {
    flex: 3;
  }

  .header-text-title {
    flex: 7;
  }

  .introduction {
    width: 400px;
  }

  .text-image {
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .width-mobile {
    max-width: 500px;
  }

  .header-text-title,
  .header-text {
    font-size: 70%;
  }

  /* removing elements */

  .line {
    display: none;
  }

  .gradient-contatiner {
    display: none;
  }
}

/* for phones */

@media screen and (max-width: 425px) {
  h1 {
    width: 200px;
  }

  h3 {
    font-size: 26px;
  }

  p,
  li {
    font-size: 15px;
    line-height: 1.7;
  }

  .portrait-img img {
    width: 135px;
    height: 400px;
    margin: 0;
  }

  .different-mediums-img img {
    width: 120px;
  }

  .languages-and-frameworks {
    width: 400px;
  }

  .languages-and-frameworks-img img {
    width: 100px;
  }

  .text-image {
    margin: 20px;
  }

  .width-mobile {
    width: 180px;
  }

  header h1 {
    font-size: 25px;
  }

  .header-text-contact h2 {
    font-size: 17px;
  }

  * {
    font-size: 15px;
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
  }

  .header-text h1,
  .header-text h2 {
    font-size: 23px;
  }
}
